{% extends "base.html" %}
{% block title %}{% if cocinero %}Editar información del cocinero{% else %}Agregar cocinero{% endif %} · INTRACOE{% endblock %}
{% block content %}
{% load l10n %}

<div class="mx-md-5 py-3">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <div class="d-flex align-items-center mb-3">
    <a href="{% url 'cocineros-lista' %}">
      <span class="material-symbols-outlined">arrow_back_ios</span>
    </a>
    <h1 class="h5 mb-0">
      {% if cocinero %}Editar información del cocinero {{ cocinero.nombre }}{% else %}Agregar cocinero{% endif %}
    </h1>
  </div>

  <form method="post" id="formCocinero" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row g-3 d-flex align-items-stretch">
      <div class="col-md-6 d-flex flex-column gap-3">

        <div>
          <label class="form-label">Nombre</label>
          <input type="text" name="nombre" class="form-control" value="{{ cocinero.nombre|default:'' }}" required>
          <div class="invalid-feedback">Obligatorio.</div>
        </div>

        <div>
          <label class="form-label mb-2">PIN</label>
          <input type="text" name="pin" class="form-control" value="{{ cocinero.pin|default:'' }}" required>
          <div class="invalid-feedback">Obligatorio.</div>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" name="activo" value="on" id="activo" {% if cocinero.activo %}checked{% endif %}>
          <label class="form-check-label" for="activo">Activo</label>
        </div>

      </div>
    </div>

    <button class="btn btn-primary mt-3" id="save_form">Guardar</button>
  </form>
</div>

<script>
(function () {
  const form = document.getElementById('formCocinero');
  form.addEventListener('submit', (e)=>{
    if (!form.checkValidity()) {
      e.preventDefault();
      e.stopPropagation();
    }
    form.classList.add('was-validated');
  });
})();
</script>

{% endblock %}
