@import 'tailwindcss';

#root {
  padding: 0% !important;
  max-width: 100% !important;
  font-family: 'Inter', sans-serif;
}

@layer base {
  img {
    @apply inline-block;
  }
}

body {
  background-color: var(--color-body-bg);
}

/* .p-multiselect-panel {
  width: 40vw !important;
} */

.p-multiselect-item {
  text-wrap: wrap;
}

/* .p-multiselect-label {
  overflow: hidden !important;
  width: 100% !important;
}

.p-multiselect {
  width: 40vw !important;
} */

.p-checkbox,
.p-checkbox-box {
  border-radius: 0.2rem !important;
  height: 1.6rem;
  width: 1.6rem;
}

input::file-selector-button {
  background-color: black;
  color: white;
  padding: 1% 3%;
}

.p-dropdown-item {
  text-wrap: wrap;
}

.p-inputnumber-input {
  width: 5vw;
}

.page {
  position: relative;
  height: 1122px; /* aprox para carta (11in * 96dpi) */
}

.footer-fixed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.p-icon-field{
  width:100%;
}

.p-password-input{
  width: 100%;
}

.p-inplace {
  height: 3vh;  
}

.p-sidebar-content {
  margin: 0;
  padding:0;
}

.p-sidebar-header{
  position: absolute;
  z-index: 10;
}

@theme {
  --color-primary-yellow: #fca94e;
  --color-secondary-yellow: #fcc587;
  --color-secondary-yellow-light: #fff2e4;
  --color-primary-blue: #232c6e;
  --color-body-bg: #f2f2f2;
  --color-light-text: #757575;
  --color-blue: #5998ff;
  --color-red: #fc0005;
  --color-gray: #7c7c7c;
  --color-green: #4caf50;
  --color-green-hover: #39973c;
  --color-border-color: #e0e0e0;
  --color-footer: #f5e1ca;
  --font-display: 'Inter', 'sans-serif';
}
