<div class="modal fade" id="retencionIvaModal" tabindex="-1" aria-labelledby="retencionIvaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="retencionIvaModalLabel">Configurar Retención de IVA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <label for="porcentaje_retencion_iva" class="form-label">Porcentaje</label>
        <input type="number" id="porcentaje_retencion_iva" class="form-control" min="0" max="100" value="0">
        <div class="form-hint mt-2">Selecciona productos a los que se aplicará:</div>
        <div id="productos-retencion-iva" class="mt-1"><!-- dinámico --></div>
      </div>
      <div class="modal-footer">
        <button id="btn-guardar-ret-iva" type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
