{% extends "base.html" %}

{% block title %}Gestión de Categorías de Menú{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="h5 mb-0 text-gray-800">
            Gestión de Categorías de Menú
        </h5>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoriaModal" data-mode="create">
                <i class="bi bi-plus-circle me-2" id="clear-search-button"></i>Nueva Categoría
            </button>
        </div>
    </div>

    <div class="mb-4">
        <div>
            <form method="GET" action="{% url 'categorias-menu' %}" class="row g-3 align-items-center">
                <div class="col-md-8 position-relative">
                    <input type="text" class="form-control" id="id_search_name" name="search_name" placeholder="Buscar por nombre..." value="{{ request.GET.search_name|default:'' }}">
                    <i class="bi bi-x-lg position-absolute top-50 translate-middle-y end-0 me-3 clear-icon" data-target="id_search_name"></i>
                </div>
            </form>
        </div>
    </div>
    
    <div class="container text-start">
        <div class="row g-3" >
            {% for categoria in categorias_list %}
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="card-body border rounded-2">
                            <div class="d-flex g-3 align-items-center">
                                <div style="background-color: {{ categoria.color }}; width: 15px; height: 15px; border-radius: 50%;" class="me-2"></div>
                                <h5 class="card-title mb-0 mt-0">{{categoria.nombre}}</h5>

                            </div>
                            <button class="btn btn-link text-success" data-id="{{ categoria.pk }}" data-nombre="{{categoria.nombre}}" data-color="{{ categoria.color }}" data-bs-toggle="modal" data-bs-target="#categoriaModal" data-mode="edit">Editar</button>
                            <button class="btn btn-link text-danger" data-id="{{ categoria.pk }}" data-nombre="{{categoria.nombre}}" data-bs-toggle="modal" data-bs-target="#eliminarCategoriaModal" data-mode="delete">Eliminar</button>
                        </div>
                    </div>
                {% empty %}
                    <p class="opacity-50">No se ha encontrado ninguna categoria</p>
                
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="categoriaModal" tabindex="-1" aria-labelledby="categoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="categoriaModalLabel"></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="categoriaForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="id_nombre" class="form-label">Nombre de la Categoría</label>
                        <input type="text" class="form-control" id="id_nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_color" class="form-label">Color de la Categoría</label>
                        <input type="color" class="form-control form-control-color" id="id_color" name="color" value="#007bff" title="Selecciona un color">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btnGuardarCategoria">Guardar Categoría</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminarCategoriaModal" tabindex="-1" aria-labelledby="eliminarCategoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5>Eliminar categoria</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="eliminarCategoriaForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <p>¿Seguro que quiere eliminar la categoria? "<strong id="nombre_categoria_eliminar"></strong>"</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btnEliminarGuardarCategoria">Eliminar categoría</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // --- Lógica del Botón de Limpieza ---
        const inputField = document.getElementById('id_search_name');
        const clearIcon = document.querySelector('.clear-icon[data-target="id_search_name"]');

        if (inputField && clearIcon) {
            // Función para mostrar/ocultar el ícono
            const toggleClearIcon = () => {
                if (inputField.value.length > 0) {
                    clearIcon.style.display = 'block';
                } else {
                    clearIcon.style.display = 'none';
                }
            };

            // Inicializar al cargar la página (por si hay un valor preexistente de GET)
            toggleClearIcon();

            // Cada vez que se escribe en el input
            inputField.addEventListener('input', toggleClearIcon);

            // 2. Limpiar el input al hacer clic en el ícono
            clearIcon.addEventListener('click', () => {
                inputField.value = '';        // Borra el contenido
                toggleClearIcon();            // Oculta el ícono
                inputField.focus();           // Enfoca el input
                
                // inputField.closest('form').submit();
            });
        }

        var categoriaModal = document.getElementById('categoriaModal');
        categoriaModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Botón que activó el modal
            var mode = button.getAttribute('data-mode'); // 'create' o 'edit'
            var modalTitle = categoriaModal.querySelector('.modal-title');
            var categoriaForm = document.getElementById('categoriaForm');
            var id_nombre = document.getElementById('id_nombre');
            var id_color = document.getElementById('id_color');

            var btnGuardar = document.getElementById('btnGuardarCategoria');

            // Limpiar formulario previo
            categoriaForm.reset();
            if (mode === 'create') {
                modalTitle.textContent = 'Crear Nueva Categoría';
                categoriaForm.action = "{% url 'crear-categoria' %}"; // URL para crear
                btnGuardar.textContent = 'Crear';
                id_color.value = '#007bff';
            } else if (mode === 'edit') {
                console.log("<>>>>", mode)
                modalTitle.textContent = 'Editar Categoría';
                var categoriaId = button.getAttribute('data-id');
                var categoriaNombre = button.getAttribute('data-nombre');
                var categoriaColor = button.getAttribute('data-color');

                id_color.value = categoriaColor;
                id_nombre.value = categoriaNombre;
                console.log(categoriaId)
                categoriaForm.action = "{% url 'editar-categoria' 0 %}".replace('/0/', '/' + categoriaId + '/'); // URL para editar
                btnGuardar.textContent = 'Actualizar';
                
            }
        });

        var eliminarCategoriaModal = document.getElementById('eliminarCategoriaModal');
        eliminarCategoriaModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Botón que activó el modal
            var mode = button.getAttribute('data-mode'); 
            var categoriaForm = document.getElementById('eliminarCategoriaForm');

            // Limpiar formulario previo
            eliminarCategoriaForm.reset();
            if (mode === 'delete') {
                var categoriaId = button.getAttribute('data-id');
                var categoriaNombre = button.getAttribute('data-nombre');
                
                nombre_categoria_eliminar.textContent = categoriaNombre;
                console.log(categoriaId)
                categoriaForm.action = "{% url 'eliminar-categoria' 0 %}".replace('/0/', '/' + categoriaId + '/'); // URL para editar
            }

        });
    });
</script>
{% endblock %}

{% endblock %}

